.main1{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 255, 5);
    color: rgb(78, 243, 7);
    background-position: 0cqmin;
}
.main2{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(6, 21, 231);
    color: rgb(230, 8, 238);
}
.link2{
    text-align: right;
}
.link1{
    text-align: right;
}